html {
  height: 100%;
  overflow: hidden;

}

body{
  display: flex;
  font-family: 'Robotic';
  height: 100%;
  margin: 0px;
  background-color: #141414;
  padding: 0;
}

#app {
  width: 100%;
}

@font-face {
  font-family: 'Robotic';
  src: url('../assets/font/Roboto-Regular.ttf') format('truetype');
}
